
.center_content
{
	width: 900px;
	margin: 0 auto;
	text-align: left;
}

.clear
{
	clear: both;
}

body
{
	margin: 0;
	padding: 0;
	font-family: Tahoma, Geneva, sans-serif;
	text-align: center;
}

#header
{
	width: 100%;
	height: 136px;
	background-color: #f7f4f0;
	border-top: 12px solid #5e88a2;
}

h1#logo-text
{
	width: 350px;
	height: 53px;
	margin: 36px 0 0 0;
	text-indent: -9999px;
	font-size: 0;
	line-height: 0;
	background: #f7f4f0 url(/sites/all/themes/tsd/images/logo.png) no-repeat 0 0;
}

h1#logo-text a
{
	width: 525px;
	height: 70px;
	display: block;
}

p#slogan
{
	display: block;
	margin-left: 59px;
	margin-top: -8px;
	cursor: pointer;
}

#nav
{
	width: 100%;
	height: 40px;
	background-color: #e7e9e8;
	border-bottom: 2px solid #5e88a2;
}

#nav ul.primary-links
{
	list-style: none outside none;
	margin: 0;
	padding: 8px 0 0 15px;
}

#nav ul.primary-links li
{
	display: inline;
	float: left;
	margin-right: 36px;
}

#nav ul.primary-links li a
{
	font-size: 100%;
	color: #5e88a2;
	text-decoration: none;
}

#nav ul.primary-links li a:hover, #nav ul.primary-links li a.active
{
	color: #e31837;
}

#content-wrapper
{
	width: 900px;
	min-height: 400px;
	height: auto !important;
	margin: 0 auto;
	padding: 25px 0;
	text-align: left;
	font-size: 80%;
}

#main
{
	width: 644px;
	padding: 0 15px;
	float: left;
}

h1#page-title, .content h2
{
	color: #e31837;
	font-weight: normal;
	font-size: 150%;
}

.content h2
{
	font-size: 125%;
}

#main a:link, #main a:visited
{
	color: #e31837;
	text-decoration: none;
}

#main a:hover
{
	text-decoration: underline;
}

#sidebar-right
{
	width: 195px;
	padding: 15px;
	margin-bottom: 40px;
	float: left;
	border-left: 1px dashed #e31837;
}

#sidebar-right ul 
{
	list-style: none outside none; 
	margin: 0;
	padding: 0;
}

#sidebar-right ul li
{
	padding-bottom: 15px;
}

#sidebar-right ul a
{
	color: #000;
	text-decoration: none;
}

#sidebar-right div.content
{
	font-size: 80%;
}


#sidebar-right h2
{
	background-color: #e7e9e8;
	color: #e31837;
	font-weight: normal;
	font-size: 110% ;
	padding: 6px;
}

#sidebar-right a
{
	color: #000;
	text-decoration: none;
}

#sidebar-right a:hover, #sidebar-right a:hover p, #sidebar-right a:hover span,
#footer_blue a:hover, #footer_lists a:hover
{
	text-decoration: underline;
}

#sidebar-right ul li.right_col_sub-list
{
	padding-bottom: 0;
}

#sidebar-right ul a.book_event
{
	color: #e31837;
	font-weight: bold;
}

#footer_blue
{
	width: 100%;
	height: 80px;
	padding-top: 5px;
	background-color: #5e88a2;
	color: #fff;
	font-size: 65%;
	clear: both;
}

#footer_blue a
{
	color: #fff;
	text-decoration: none;
}

#footer_lists
{
	width: 100%;
	padding: 15px 0 60px 0;
	background-color: #f7f4f0;
	color: #e31837;
	font-size: 75%;
}

#footer_lists div.block
{
	float: left;
	padding: 0 80px 0 0;
}

#footer_lists h2
{
	font-size: 100%;
	font-weight: normal;
	margin: 0 0 5px 0;
}
	
#footer_lists ul 
{
	list-style: none outside none;
	margin: 0;
	padding: 0;
}


#footer_lists ul li
{
	padding-bottom: 5px;
}

#footer_lists a 
{
	color: #5e88a2;
	text-decoration: none;
	font-size: 90%;
}


	
	
	
	
	
	
	
	
	


